In [1]:
import pandas as pd
from pathlib import Path

import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.inspection import permutation_importance

In [2]:
# reading in training data

csv_path = Path('smaller_data_sets/master_df.csv')

data_df = pd.read_csv(
    csv_path,
    index_col = 'SK_ID_CURR',
)

# train_df.head()

In [3]:
data_df.dropna(inplace = True)

In [4]:
data_df

,Unnamed: 0,TARGET,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_HOUSING_TYPE,DAYS_EMPLOYED,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,...,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD_CC,SK_DPD_DEF_CC,SK_DPD,SK_DPD_DEF
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
167790,100002,1,202500.0,406597.5,24700.5,351000.0,House / apartment,-637,2.0,2.0,...,0.0,0,0.0,0.0,17.0,Active,0,0,0.000000,0.0000
357749,100007,0,121500.0,513000.0,21865.5,513000.0,House / apartment,-3038,0.0,0.0,...,0.0,0,0.0,0.0,65.0,Active,0,0,0.000000,0.0000
205335,100008,0,99000.0,490495.5,27517.5,454500.0,House / apartment,-1588,0.0,0.0,...,0.0,0,0.0,0.0,50.0,Active,0,0,339.060241,0.0000
198441,100009,0,171000.0,1560726.0,41301.0,1395000.0,House / apartment,-3130,1.0,0.0,...,0.0,0,0.0,0.0,88.0,Active,0,0,0.000000,0.0000
151882,100010,0,360000.0,1530000.0,42075.0,1530000.0,House / apartment,-449,2.0,0.0,...,0.0,0,0.0,0.0,68.0,Active,0,0,0.000000,0.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167372,456244,0,261000.0,1303812.0,35982.0,1138500.0,House / apartment,-5326,0.0,0.0,...,0.0,37,0.0,37.0,2.0,Active,0,0,0.087500,0.0875
129900,456246,0,94500.0,225000.0,10620.0,225000.0,House / apartment,-8736,0.0,0.0,...,0.0,0,0.0,0.0,27.0,Completed,0,0,0.000000,0.0000
272638,456247,0,112500.0,345510.0,17770.5,247500.0,House / apartment,-399,9.0,3.0,...,3.0,9,0.0,6.0,24.0,Active,0,0,0.000000,0.0000
420023,456249,0,112500.0,225000.0,22050.0,225000.0,House / apartment,365243,0.0,0.0,...,0.0,0,0.0,0.0,10.0,Active,0,0,0.000000,0.0000
218352,456254,1,171000.0,370107.0,20205.0,319500.0,House / apartment,-4786,0.0,0.0,...,0.0,0,0.0,0.0,51.0,Active,0,0,0.000000,0.0000

In [5]:
selected_features = data_df[['TARGET','AMT_INCOME_TOTAL', 'AMT_CREDIT', 'AMT_ANNUITY', 'AMT_GOODS_PRICE',
       'DAYS_EMPLOYED', 'MONTHS_BALANCE', 'AMT_PAYMENT_CURRENT',
       'CNT_INSTALMENT_MATURE_CUM']]
selected_features

,TARGET,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,DAYS_EMPLOYED,MONTHS_BALANCE,AMT_PAYMENT_CURRENT,CNT_INSTALMENT_MATURE_CUM
SK_ID_CURR,,,,,,,,,
167790,1,202500.0,406597.5,24700.5,351000.0,-637,-8,21.915,17.0
357749,0,121500.0,513000.0,21865.5,513000.0,-3038,-9,0.000,65.0
205335,0,99000.0,490495.5,27517.5,454500.0,-1588,-7,0.000,50.0
198441,0,171000.0,1560726.0,41301.0,1395000.0,-3130,-8,4950.000,88.0
151882,0,360000.0,1530000.0,42075.0,1530000.0,-449,-7,56.160,68.0
...,...,...,...,...,...,...,...,...,...
167372,0,261000.0,1303812.0,35982.0,1138500.0,-5326,-3,92322.540,2.0
129900,0,94500.0,225000.0,10620.0,225000.0,-8736,-4,0.000,27.0
272638,0,112500.0,345510.0,17770.5,247500.0,-399,-7,14400.000,24.0
420023,0,112500.0,225000.0,22050.0,225000.0,365243,-2,27000.000,10.0
218352,1,171000.0,370107.0,20205.0,319500.0,-4786,-1,104.895,51.0

In [6]:
selected_features.to_csv("smaller_data_sets/8_features.csv")

In [7]:
# removing extraneous row

# data_df = data_df.iloc[:, 1:]

# checking data
# data_df.shape

In [8]:
# # creating a list of categorical vars / setting up OneHotEncoder

# # Creating list
# categorical_vars = list(data_df.dtypes[data_df.dtypes == 'object'].index)
# # print(categorical_vars)



# # OneHotEncoder Instance
# enc = OneHotEncoder(sparse = False)

# # Encoding Data
# encoded_data = enc.fit_transform(data_df[categorical_vars])

In [9]:
# # Creating Encoded DataFrame

# encoded_df = pd.DataFrame(
#     encoded_data,
#     columns = enc.get_feature_names(categorical_vars)
# )

# # Reviewing DF
# encoded_df.shape

# # adding ID column for eas of use

# encoded_df.index = data_df.index

In [10]:
# encoded_df.columns

In [11]:
# dropping categorical_cars from original dataframe

# data_df_4_concat = data_df.drop(columns = categorical_vars)

In [12]:
# # Concatenating dataframes
# training_data_enc = pd.concat([encoded_df, data_df_4_concat], axis = 1)

# # checking types of df
# training_data_enc.dtypes.describe()

In [13]:
# testing to make sure noe object types still in df

# should_be_empty = list(training_data_enc.dtypes[training_data_enc.dtypes == 'object'].index)

# # should have an empty list if all went well
# print(should_be_empty)

In [14]:
# Split the Data for Training and Testing

X = selected_features.drop(columns = 'TARGET')

y = selected_features['TARGET']



# Deploy TrainTestSplit

(X_train, X_test, y_train, y_test) = train_test_split(X, y, random_state = 1)

In [15]:
# from imblearn.combine import SMOTEENN

# sme = SMOTEENN(random_state=1)
# X_resampled, y_resampled = sme.fit_resample(X_train, y_train)

In [16]:
from imblearn.over_sampling import RandomOverSampler
from imblearn.under_sampling import RandomUnderSampler

In [17]:
# ros = RandomOverSampler(random_state=1)
# X_resampled, y_resampled = ros.fit_resample(X_train,y_train)

In [18]:
rus = RandomUnderSampler(random_state=1)
X_resampled, y_resampled = rus.fit_resample(X_train,y_train)

In [19]:
# Time to Deploy Standard Scaler
# Instantiate StandardScaler

scaler = StandardScaler()

# Train and Scale

X_scaler = scaler.fit(X_resampled)

X_resampled = X_scaler.transform(X_resampled)

X_test_scaled = X_scaler.transform(X_test)

In [20]:
X_resampled

array([[-1.84625213e-02, -2.25463966e-01,  4.83529967e-01, ...,
        -1.23223041e+00, -1.84222205e-02, -1.04331385e+00],
       [ 1.03733196e-02, -8.04113391e-01, -8.59121783e-01, ...,
         1.22378319e+00,  3.99797854e-01, -6.39763485e-01],
       [-1.04970044e-01, -1.20191972e+00, -1.51206672e+00, ...,
         1.15154749e+00, -2.86001948e-01,  9.23994191e-01],
       ...,
       [ 1.25716683e-01, -1.95901210e-01, -1.74811207e-01, ...,
         6.82015481e-01, -1.56382627e-01,  1.32754456e+00],
       [-1.16101676e-03,  3.49767379e-01,  2.11622957e+00, ...,
         5.37544093e-01, -2.94333377e-01, -4.88432097e-01],
       [ 1.02648011e-01,  8.58624945e-01,  3.71895270e-01, ...,
         1.22378319e+00, -2.94207833e-01, -1.09375765e+00]])

In [21]:
# check shape of X df
X_resampled.shape

(22704, 8)

In [22]:
# define number input features for nn
number_input_features = X_resampled.shape[1]

# define number neurons in output layer
number_output_neurons = 1

# define number of nodes in hidden layer 1
hidden_nodes_layer1 = 3

In [23]:
# create Sequential() instance
nn = Sequential()

In [24]:
# Add the first hidden layer
"""
# Add the first hidden layer
nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))
"""

nn.add(Dense(input_dim = number_input_features, units = hidden_nodes_layer1, activation = 'relu'))

# Try Second layer
# nn.add(Dense(units = 2, activation = 'relu'))

In [25]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units = number_output_neurons, activation = 'sigmoid'))

In [26]:
# checking model architecture

# Display the Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 3)                 27
_________________________________________________________________
dense_1 (Dense)              (None, 1)                 4
=================================================================
Total params: 31
Trainable params: 31
Non-trainable params: 0
_________________________________________________________________

In [27]:
# Compile the Sequential model
nn.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics = ['accuracy'])

In [28]:
# Fit the model using 50 epochs and the training data
deep_nn_model = nn.fit(X_resampled, y_resampled, epochs = 50)

Epoch 1/50
710/710 [==============================] - 1s 719us/step - loss: 0.7119 - accuracy: 0.5423
Epoch 2/50
710/710 [==============================] - 0s 668us/step - loss: 0.6909 - accuracy: 0.5462
Epoch 3/50
710/710 [==============================] - 0s 685us/step - loss: 0.6871 - accuracy: 0.5515
Epoch 4/50
710/710 [==============================] - 0s 682us/step - loss: 0.6857 - accuracy: 0.5534
Epoch 5/50
710/710 [==============================] - 0s 684us/step - loss: 0.6849 - accuracy: 0.5545
Epoch 6/50
710/710 [==============================] - 0s 679us/step - loss: 0.6838 - accuracy: 0.5563
Epoch 7/50
710/710 [==============================] - 1s 784us/step - loss: 0.6829 - accuracy: 0.5568
Epoch 8/50
710/710 [==============================] - 1s 767us/step - loss: 0.6820 - accuracy: 0.5582
Epoch 9/50
710/710 [==============================] - 1s 786us/step - loss: 0.6813 - accuracy: 0.5589
Epoch 10/50
710/710 [==============================] - 1s 762us/step - loss: 0.6809 - accuracy: 0.5616
Epoch 11/50
710/710 [==============================] - 1s 790us/step - loss: 0.6805 - accuracy: 0.5595
Epoch 12/50
710/710 [==============================] - 1s 771us/step - loss: 0.6802 - accuracy: 0.5614
Epoch 13/50
710/710 [==============================] - 1s 793us/step - loss: 0.6799 - accuracy: 0.5634
Epoch 14/50
710/710 [==============================] - 1s 792us/step - loss: 0.6797 - accuracy: 0.5617
Epoch 15/50
710/710 [==============================] - 1s 793us/step - loss: 0.6794 - accuracy: 0.5622
Epoch 16/50
710/710 [==============================] - 1s 842us/step - loss: 0.6791 - accuracy: 0.5651
Epoch 17/50
710/710 [==============================] - 1s 838us/step - loss: 0.6790 - accuracy: 0.5642
Epoch 18/50
710/710 [==============================] - 1s 777us/step - loss: 0.6787 - accuracy: 0.5653
Epoch 19/50
710/710 [==============================] - 1s 763us/step - loss: 0.6790 - accuracy: 0.5650
Epoch 20/50
710/710 [==============================] - 1s 752us/step - loss: 0.6784 - accuracy: 0.5689
Epoch 21/50
710/710 [==============================] - 1s 744us/step - loss: 0.6786 - accuracy: 0.5664
Epoch 22/50
710/710 [==============================] - 1s 766us/step - loss: 0.6785 - accuracy: 0.5684
Epoch 23/50
710/710 [==============================] - 1s 778us/step - loss: 0.6783 - accuracy: 0.5682
Epoch 24/50
710/710 [==============================] - 1s 762us/step - loss: 0.6780 - accuracy: 0.5679
Epoch 25/50
710/710 [==============================] - 1s 779us/step - loss: 0.6780 - accuracy: 0.5685
Epoch 26/50
710/710 [==============================] - 1s 766us/step - loss: 0.6779 - accuracy: 0.5644
Epoch 27/50
710/710 [==============================] - 1s 782us/step - loss: 0.6779 - accuracy: 0.5679
Epoch 28/50
710/710 [==============================] - 1s 771us/step - loss: 0.6776 - accuracy: 0.5684
Epoch 29/50
710/710 [==============================] - 1s 804us/step - loss: 0.6774 - accuracy: 0.5687
Epoch 30/50
710/710 [==============================] - 1s 804us/step - loss: 0.6773 - accuracy: 0.5704
Epoch 31/50
710/710 [==============================] - 1s 802us/step - loss: 0.6774 - accuracy: 0.5692
Epoch 32/50
710/710 [==============================] - 1s 771us/step - loss: 0.6771 - accuracy: 0.5732
Epoch 33/50
710/710 [==============================] - 1s 784us/step - loss: 0.6768 - accuracy: 0.5723
Epoch 34/50
710/710 [==============================] - 1s 797us/step - loss: 0.6768 - accuracy: 0.5722
Epoch 35/50
710/710 [==============================] - 1s 784us/step - loss: 0.6768 - accuracy: 0.5721
Epoch 36/50
710/710 [==============================] - 1s 756us/step - loss: 0.6767 - accuracy: 0.5736
Epoch 37/50
710/710 [==============================] - 1s 709us/step - loss: 0.6766 - accuracy: 0.5699
Epoch 38/50
710/710 [==============================] - 1s 765us/step - loss: 0.6766 - accuracy: 0.5732
Epoch 39/50
710/710 [==============================] - 1s 772us/step - loss: 0.6765 - accuracy: 0.5713
Epoch 40/50
710/710 [==============================] - 1s 796us/step - loss: 0.6765 - accuracy: 0.5722
Epoch 41/50
710/710 [==============================] - 1s 726us/step - loss: 0.6764 - accuracy: 0.5742
Epoch 42/50
710/710 [==============================] - 1s 782us/step - loss: 0.6764 - accuracy: 0.5729
Epoch 43/50
710/710 [==============================] - 1s 752us/step - loss: 0.6764 - accuracy: 0.5723
Epoch 44/50
710/710 [==============================] - 1s 718us/step - loss: 0.6762 - accuracy: 0.5738
Epoch 45/50
710/710 [==============================] - 1s 725us/step - loss: 0.6762 - accuracy: 0.5729
Epoch 46/50
710/710 [==============================] - 1s 757us/step - loss: 0.6762 - accuracy: 0.5728
Epoch 47/50
710/710 [==============================] - 1s 732us/step - loss: 0.6762 - accuracy: 0.5733
Epoch 48/50
710/710 [==============================] - 1s 746us/step - loss: 0.6763 - accuracy: 0.5716
Epoch 49/50
710/710 [==============================] - 1s 785us/step - loss: 0.6759 - accuracy: 0.5737
Epoch 50/50
710/710 [==============================] - 1s 736us/step - loss: 0.6759 - accuracy: 0.5733

In [169]:
# loading in model
file_path = ('model_stuff/r_oversampled_8_features.json')
with open(file_path, 'r') as json_file:
    model_json = json_file.read()
loaded_model = tf.keras.models.model_from_json(model_json)
# loading in model weights to model
file_path_weights = ('model_stuff/r_oversampled_8_features.h5')
loaded_model.load_weights(file_path_weights)

In [29]:
compiled = nn.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics = ['accuracy'])

In [30]:

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose = 0)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Loss: 0.6697334051132202, Accuracy: 0.5437256097793579

In [40]:
# running test prediction
nn_prediction_tweak2 = (nn.predict(X_test_scaled) > 0.462).astype("int32")

In [136]:
# X_test_scaled.shape
# please_work2 = X_test_scaled[-1,]
# nn_prediction_tweak2
# please_work = pd.DataFrame(please_work)
# please_work.T
please_work2 = please_work2.reshape(-1,8)
nn_prediction_tweak2

array([[0]])

In [32]:
from imblearn.metrics import classification_report_imbalanced

In [41]:
# generating further evaluation metrics
print(classification_report_imbalanced(y_test, nn_prediction_tweak2))

# from sklearn.metrics import confusion_matrix

                   pre       rec       spe        f1       geo       iba       sup

          0       0.95      0.34      0.77      0.50      0.51      0.25     44403
          1       0.09      0.77      0.34      0.16      0.51      0.28      3761

avg / total       0.88      0.38      0.74      0.48      0.51      0.25     48164

In [54]:
# Save model in JSON format
nn_json = nn.to_json()

# Define a relative path to save the model
# The model should be saved with a .json file extension
file_path = Path("model_stuff/r_oversampled_8_features.json")

# Write the model to the the file 
with open(file_path, "w") as json_file:
  json_file.write(nn_json)  

# Define a relative path to save the model weights
# The model weights should be saved with a .h5 file extension
file_path2 = "model_stuff/r_oversampled_8_features.h5"

# Save the weights to the file path
nn.save_weights(file_path2)

In [ ]:
# score = model.evaluate(X_train, Y_train); print("Test loss:", score[0]); print("Test accuracy:", score[1]


r = permutation_importance(nn, X_test, y_test, n_repeats=30, random_state=0)

for i in r.importances_mean.argsort()[::-1]:
  if r.importances_mean[i] - 2 * r.importances_std[i] > 0:
    print(f"{training_data_enc.feature_names[i]:<8}"
    f"{r.importances_mean[i]:.3f}"
    f" +/- {r.importances_std[i]:.3f}")

TypeError: ignored

In [ ]:
# # reading in testing data

# csv_path = Path('../smaller_data_sets/application_test.csv')

# test_df = pd.read_csv(
#     csv_path,
#     index_col = 'SK_ID_CURR',
# )

# test_df.head()

In [ ]:
"""

PROCESS

1. Read In Training Data, Remove any Unnecessary Rows /

2. Read In Testing Data, Remove any Unnecessary Rows /

3. Encode Categorical Variables /

4. Deploy Standard Scaler 

5. Create a 1 layer model, maybe two layer if needed

6. Train / Run 

7. Evaluate 


"""